
.vs/BirdDog/v16/.suo
.vs/BirdDog/v16/Browse.VC.db
.vs/BirdDog/v16/Browse.VC.db-shm
.vs/BirdDog/v16/Browse.VC.db-wal
.vs/BirdDog/v16/Browse.VC.opendb
.vs/BirdDog/v16/ipch/AutoPCH/bbfebc4d70e88768/BIRDDOG.ipch
.vs/BirdDog/v16/ipch/AutoPCH/d9559630acfc0f28/BIRDDOG.ipch
Debug/BirdDog.Build.CppClean.log
Debug/BirdDog.exe.recipe
Debug/BirdDog.log
Debug/BirdDog.vcxproj.FileListAbsolute.txt
Release/BirdDog.Build.CppClean.log
Release/BirdDog.log
Release/BirdDog.vcxproj.FileListAbsolute.txt
x64/Debug/BirdDog.Build.CppClean.log
x64/Debug/BirdDog.log
x64/Debug/BirdDog.vcxproj.FileListAbsolute.txt
x64/Release/BirdDog.Build.CppClean.log
x64/Release/BirdDog.log
x64/Release/BirdDog.vcxproj.FileListAbsolute.txt
x64/Release/ByteStreamProcessor.Build.CppClean.log
x64/Debug/ByteStreamProcessor.Build.CppClean.log
Release/ByteStreamProcessor.Build.CppClean.log
Debug/ByteStreamProcessor.exe.recipe
Debug/ByteStreamProcessor.Build.CppClean.log
.vs/BirdDog/v16/ipch/AutoPCH/ee7263ddeed9cfa5/BYTESTREAMPROCESSOR.ipch
.vs/BirdDog/v16/ipch/AutoPCH/6913bb0cbfe4495f/PACKET.ipch
.vs/BirdDog/v16/ipch/AutoPCH/2dfd17fc3f45cc02/PACKET.ipch
